{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>WhereLast</h1>
                        <h3 id="demo">Seek and you shall find </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.facebook.com" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="what"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Remind you where<br> your stuff is</h2>
                    <p class="lead">Having touble of remembering where your important stuff is? <font class="mtopnav-brand">Where<font color="#00ced1">Last</font></font> can help you tracking all your stuff in your computer and your phone.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/stuff.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Share physical item location with<br>Your family and friends</h2>
                    <p class="lead">Get tired of being asked "Honey, where is ...?" Now using <font class="mtopnav-brand">Where<font color="#00ced1">Last</font></font> to share item location with your family and friends, so they can know where to find the stuff without asking you!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/social.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find your favorite<br>people</h2>
                    <p class="lead">Want to know where is your be-loved ones? <font class="mtopnav-brand">Where<font color="#00ced1">Last</font></font> make location sharing more easier for you. You can also find your doctors, babysitter ... you name it!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/people.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="how"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Try WhereLast Now</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-android fa-fw"></i> <span class="network-name">Android App</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-apple fa-fw"></i> <span class="network-name">Apple App</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-laptop fa-fw"></i> <span class="network-name">Web APp</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <script>
        var quotes = [
            "Seek and you shall find <i class=\"fa fa-key fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-ticket fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-male fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-gift fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-female fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-umbrella fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-suitcase fa-fw\"></i>",
            "Seek and you shall find <i class=\"fa fa-file fa-fw\"></i>",
        ];
        var i = 0;
        setInterval(function() { 
            $("#demo").html(quotes[i]);
            if (i == quotes.length) {
                i = 0;
            } else {
                i++;
            }
        },  600);
    </script>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">facebook</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#">twitter</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; WhereLast 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
